body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
    margin: auto;
}
h1 {
    font-family: "Arial black";
    font-size: 28px;
    margin-bottom: -25px;
}
img{
    width: 160px;
    padding-left: 650px;
}
input, select, button, fieldset {
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 8px;
}
label {
    font-size: 14px;
    padding-left: 5px;
    font-family: "Arial";
}
fieldset {
    font-size: 16px;
    font-family: "Arial";
    border-radius: 5px;
    background-color: #dbdbdb;
}
footer {
    margin-left: 10px;
}
form  { display: table;     }
p     { display: table-row; }
label { display: table-cell;}
input { display: table-cell;}